<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    codeial
                </a>
            </p>
        </div>
        <div class="auth-links">
            <ul>
    <%  if (locals.user)  {%>  
        <!-- lacals and user are same things -->
        
        <li>
            <a href="/users/profile" class="float"> <%= user.name %> </a>
        </li>

        <li>
            <a href="/users/sign-out" class="float">Sign Out</a>
        </li>
    


    <% }else{ %>
        <!-- <nav> -->
            <div class="nav-bar">
               
        <li>
            <a href="/users/sign-in"class="float" >Sign In</a>
        </li>

        <li>
            <a href="/users/sign-up" class="float">Sign Up</a>
        </li>
    
        <% } %>

    </ul>
</div>
</nav>
</header>